@mixin font500 {
    font-size: 1rem;
    font-weight: 500;
}

@mixin font700 {
    font-size: 1.5rem;
    font-weight: 700;
}

@mixin fontshrikhand-footer {
    font-family: $font-title;
    font-size: 1.125rem;
}

@mixin childcenter {
    display:flex;
    align-items: center;
    justify-content: center;
}