// Fonts
$font-title: Shrikhand, sans-serif;
$font-main: Roboto, sans-serif;

// Colors- buttons
$purple: #9356DC;
$pink: #FF79DA;
$gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

// Colors - greens
$dark-green: #008766;
$ligth-green: #99E2D0;

// Colors - backgrounds
$white: #FFFFFF;
$dark-grey: #353535;
$grey-location: #eaeaea;
$light-grey: #F6F6F6;

//Colors - text and icons
$grey-icone: #7E7E7E;
$white: #FFFFFF;
$dark-grey: #353535;

// Colors - blues
$navy-blue: #003A68;
$light-blue: #89C8FA;