.card {
    background-color: white;
    border-radius: 15px;
    position: relative;

    img {
        object-fit: cover;
        height: 175px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        @media (min-width:1024px) {
            height: 130px;
        }
    }

    span {
        @include background-padding($ligth-green, 7px 9px);
        @include size-weight(0.875rem, 500);
        position: absolute;
        right: 15px;
        top: 15px;
        color: $dark-green;
    }

    &__content {
        text-align: left;
        padding: 13px;
        position: relative;

        h3 {
            @include size-weight(1.125rem, 700);
        }

        p {
            @include size-weight(1.063rem, 300);
        }  

        .fa-heart {
            position: absolute;
            bottom: 50%;
            right: 5%;
            transform: translateY(50%);
            font-size: 21px;
        }
    }
}