.intro {
    background-color: $grey-background;
    box-shadow: inset 0px 4px 4px 0px #00000040;
    @include childcenter;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 60px;

    h1 {
        @include font-title;
    }

    p {
        font-weight: 300;
        font-size: 1.125rem;
        color: $grey-text;
    }

    a {
        @include button-cta;
    }
}
