.intro {
    background-color: $grey-background;
    @include childcenter;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    padding : 50px 30px 60px 30px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        height: 4px;
        width: 100%;
        top: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 4px);
    }

    h1 {
        @include font-title;
    }

    p {
        font-weight: 300;
        font-size: 1.125rem;
        color: $grey-text;
    }

    a {
        @include button-cta;
    }
}
