.location {
    height: 50px;
    background-color: $grey-location;
    @include childcenter;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        top: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 2px);
    }

    input {
        border: none;
        outline: none;
        background-color: $grey-location;
        color: $grey-text;
        text-align: center;
        width: 109px;
        margin-left: 20px;
        @include font1;
        &::placeholder {
            color: $grey-text;
        }
    }

    .fa-location-dot {
        color:$grey-text;
    }
}
