.location {
    height: 50px;
    background-color: $grey-location;
    box-shadow: inset 0px 2px 4px 0px #00000026;
    @include childcenter;

    input {
        border: none;
        outline: none;
        background-color: $grey-location;
        color: $grey-text;
        text-align: center;
        width: 109px;
        margin-left: 20px;
        @include font1;
        &::placeholder {
            color: $grey-text;
        }
    }

    .fa-location-dot {
        color:$grey-text;
    }
}
