

$font-title: Shrikhand, sans-serif;
$font-main: Roboto, sans-serif;
$purple: #9356DC;
$pink: #FF79DA;
$gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$navy-blue: #003A68;
$light-blue: #89C8FA;
$dark-green: #008766;
$ligth-green: #99E2D0;
$white: #FFFFFF;
$dark-grey: #353535;
$grey-location: #eaeaea;
$grey-background: #F6F6F6;
$grey-icone: #7E7E7E;

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    text-align: center;
    font-family: $font-main;
}

@mixin font500 {
    font-size: 1rem;
    font-weight: 500;
}

@mixin font700 {
    font-size: 1.5rem;
    font-weight: 700;
}

@mixin fontshrikhand-footer {
    font-family: $font-title;
    font-size: 1.125rem;
}

@mixin childcenter {
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin button-cta {
    background: $gradient;
    box-shadow: 0px 4px 10px 0px #00000040;
    border: none;
    color: $white;
    border-radius: 25px;
    padding: 15px 22px;
    &:hover {
        filter: brightness(1.1);
        transition: 0.3s ease-out;
        box-shadow: 0px 4px 15px 0px #00000059;
        transform: translateX(-0.5px);
    }
}
